body {
  margin: 0;
  overflow-y: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(50, 149, 255, 0.11817226890756305) 0%,
    rgba(255, 255, 255, 1) 52%,
    rgba(50, 149, 255, 0.12097338935574231) 100%
  );
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
.app-layout {
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
/* table {
  width: 100%;
} */

td,
tr {
  text-align: center;
  border: 1px solid black;
}

/* comfirm modal */
.modal {
  display: hidden;
}
.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.modal-background {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #dddddd73;
}
.modal.is-active {
  display: flex;
}
.modal.is-inactive {
  display: none;
}

.modal-card {
  width: 400px;
  background-color: #fff;
  box-shadow: 9px 2px 40px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 101;
}

.modal-card-head {
  background-color: #f2f4f7;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
  border-radius: 15px 15px 0 0;
}

.modal-card-title {
  font-size: 18px;
  font-weight: bold;
  color: #515151;
  margin: 0;
}
.modal-card-body {
  padding: 20px;
}

.modal-card-foot {
  background-color: #f2f4f7;
  padding: 20px;
  text-align: right;
  border-radius: 0 0 15px 15px;
  border-top: 1px solid #ddd;
}

/* card */
.card {
  background-color: white;
  margin: 1rem;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.1);
  box-shadow: 9px 2px 40px 1px rgba(0, 0, 0, 0.07);
}

/* button */
button {
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}

button.primary,
button.secondary {
  cursor: pointer;
}
button.primary {
  background: #007bff;
  border: 1px solid white;
  color: white;
}
button.secondary {
  background: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}
button.primary:disabled,
button.primary:disabled:hover {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
  border: 1px solid #e2e2e2;
}
button.primary:hover {
  background: transparent;
  border: 1px solid #007bff;
  color: #007bff;
}
button.secondary:hover {
  background: #007bff;
  border: 1px solid white;
  color: white;
}
button.danger {
  background: #d44b4b;
  color: white;
  border: 1px solid white;
}
button.danger:hover {
  background: white;
  color: #d44b4b;
  border: 1px solid #d44b4b;
}
/*Alert*/

.alert {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: #f4f4f4;

  text-align: center;
  border-radius: 10px;
  padding: 0.6rem 3rem;
  box-shadow: 9px 2px 40px 1px rgba(0, 0, 0, 0.2);
}

.alert_success {
  color: #007bff;
  border: 1px solid #007bff;
}

.alert_info {
  background-color: rgb(67, 96, 203);
}

.alert_error {
  color: #d44b4b;
  border: 1px solid #d44b4b;
}

/* editable field */
.editable-field {
  border-right: 1px solid #7e7e7e4a;
}
.editable-field .field {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.editable-field .field span,
.editable-field .field input {
  flex: 2;
}
.editable-field .field input {
  outline: none;
  border: none;
  border-bottom: 1px solid #7373733b;
}
.editable-field .field .button {
  flex: 1;
}

input[type="search"],
input[type="date"] {
  padding: 0.25rem 1rem 0.25rem 0.35rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid #7373733b;
  color: #515151;
  outline: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
input[type="time"] {
  border-radius: 15px;
  border: 1px solid #7373733b;
  color: #515151;
  padding: 0 0.25rem;
  outline: none;
}

.error {
  color: #d44b4b;
  font-size: 12px;
  margin: 0;
}
