.dashboard-top {
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 32vh;
  width: 80vw;
  box-sizing: border-box;
}
.dashboard-top .data-heading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  text-align: center;
}
.dashboard-top-left,
.dashboard-top-right,
.dashboard-top-middle .card {
  height: 13rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
.dashboard-top-middle {
  flex: 2;
  display: flex;
}
.dashboard-top-middle p {
  text-align: center;
  color: #515151;
}
.dashboard-top-middle button {
  padding: 0.75rem 1rem;
}
.dashboard-top .key,
.dashboard-top .value {
  color: #515151;
  font-size: 15px;
}
.dashboard-top .value {
  font-weight: bold;
}
.dashboard-top-left .value {
  font-size: 17px;
}
.dashboard-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dashboard-main .header,
.dashboard-main .table-data {
  width: 80vw;
}

.dashboard-main .header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-top: 1rem;
}
.dashboard-main .switch button {
  border-radius: 0;
  border: none;
  background: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #737373;
  font-size: 12px;
  font-weight: bold;
  margin-left: 1rem;
}
.dashboard-main .switch button.active {
  color: #252424;
  border-bottom: 1px solid #252424;
}

/* filter */
.filter {
  margin-right: 2rem;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter-container {
  position: relative;
  display: inline-block;
}
.filter-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.filter-menu {
  position: absolute;
  top: 70%;
  right: 0;
  background-color: #fff;
  padding: 10px;
  z-index: 101;
  width: max-content;
  box-shadow: 9px 2px 40px 1px rgba(0, 0, 0, 0.2);
}
.filter-item {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  color: #515151;
}
.filter-item label {
  display: flex;
  align-items: center;
}
.filter-button {
  padding: 0.5rem 0.75rem;
  border: none;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.filter-menu button {
  font-size: 13px;
  padding: 0.4rem 0.65rem;
}

ul.table .no-data {
  text-align: center;
}
li.table-header {
  display: flex;
  overflow: hidden;
  font-size: 14px;
  background: #e7e7e7;
  border-radius: 15px 15px 0 0;
  padding: 0.75rem 0;
}

li.table-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 0.2rem 0;
}
li.table-row div,
li.table-header div {
  flex: 1;
  text-align: center;
}
.table.client-appointment li.table-row div:nth-child(3),
.table.client-appointment li.table-header div:nth-child(3) {
  flex-grow: 2;
}
.table.appointment li.table-row div:nth-child(3),
.table.appointment li.table-header div:nth-child(3) {
  flex-grow: 1;
}
li.table-header div {
  color: #515151;
}
li.table-row .sNo {
  border-right: 1px solid #7e7e7e4a;
}
li .table-row-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

li.table-row button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.15rem 0.5rem;
  border-radius: 12px;
  margin-left: 1rem;
}
li.table-row.appointment {
  display: block;
  border-bottom: 0;
  background-color: #f4f4f4;
}
li.table-row.appointment h4 {
  margin: 1rem 0 0 0;
  text-align: center;
}
li.table-row.appointment .table-header {
  border-radius: 0;
}
li.table-row span {
  font-size: 0.85rem;
}
li.table-row.client div {
  font-size: 14px;
}

/* Create appointment */
.create-appointment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.create-appointment form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create-appointment form .reset {
  width: max-content;
  padding: 0;
  margin-right: 0.5rem;
}
.create-appointment form .error {
  min-width: 100px;
  width: max-content;
}
.create-appointment label {
  font-size: 14px;
  color: #757575;
  font-weight: bold;
}
.create-appointment .buttons {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
}
.create-appointment .reset {
  border: 1px solid #515151;
  cursor: pointer;
}
.create-appointment .submit {
  margin-left: 0.5rem;
}
.create-appointment .error {
  margin-left: 1rem;
}
.confirm-modal-btn {
  margin: 0 0.75rem;
}

@media screen and (max-width: 1050px) {
  .dashboard-top-middle {
    flex-direction: column;
    height: 13rem;
    flex: 1;
    margin: 1rem 0;
    justify-content: space-between;
  }
  .dashboard-top-middle button {
    padding: 0.25rem 0.5rem;
    font-size: 13px;
    margin-top: 0.5rem;
  }
  .dashboard-top-middle .card {
    margin: 0;
    box-sizing: border-box;
  }
  .dashboard-top-middle .card p {
    margin: 0;
    font-size: 13px;
  }
  .dashboard-top-middle div:nth-child(2) {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 950px) {
  .dashboard-main .table-data,
  .dashboard-top,
  .dashboard-main .header {
    width: 90%;
  }
  li .table-row-item.manage button {
    padding: 0.05rem 0.5rem;
  }
  li .table-row-item.manage button span {
    font-size: 14px;
  }
}

@media screen and (max-width: 755px) {
  ul.table {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .dashboard-top-middle {
    width: 90vw;
    position: absolute;
    top: 80%;
    flex-direction: row;
  }
  .dashboard-top-middle .card {
    height: max-content;
    margin: 1rem 0.5rem;
    box-sizing: border-box;
  }
  .dashboard-top-left.card,
  .dashboard-top-right.card {
    height: max-content;
    min-height: 10rem;
    margin: 0.5rem;
  }
  .dashboard-top-left.card .key {
    margin: 0.4rem 0;
  }
  .dashboard-main {
    position: relative;
    top: 10%;
  }
  .filter {
    margin-right: 3rem;
  }
  .filter input[type="search"] {
    width: 150px;
  }
}

@media screen and (max-width: 635px) {
  .dashboard-top-middle .card {
    min-height: 85.6px;
  }
  .dashboard-top .data-heading {
    font-size: 1.2rem;
  }
  .dashboard-top .card .key {
    font-size: 13px;
  }
  .dashboard-top-right .value {
    font-size: 13px;
  }
  .dashboard-main {
    top: 12%;
  }
  .dashboard-main .switch button {
    font-size: 10px;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .dashboard-top .data-heading {
    font-size: 1rem;
  }
  .dashboard-top-middle .card {
    min-height: 103.2px;
  }
  .dashboard-main .switch button span {
    display: none;
  }
  .dashboard-main .switch button *{
    font-size: 14px;
  }
  .dashboard-main .header {
    align-items: baseline;
  }
  .filter {
    margin-right: 3rem;
  }
  .dashboard-main {
    top: 14%;
  }
  .filter input[type="search"] {
    width: 110px;
    font-size: 10px;
  }
  .filter-item{
    padding:0.2rem 0.5rem;
  }
  .filter-menu{
    margin: 0.5rem;
  }
  .filter-menu .filter-item label{
    font-size: 12px;
  }
  .filter-button{
    padding: 0.3rem 0.5rem;
  }
  .filter-button button{
    padding:0.3rem 0.5rem;
  }
}
@media screen and (max-width: 375px){
.filter-item{
  flex-direction: column;
  align-items: flex-start;
}
}