.navbar {
  width: 100vw;
  height: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdada;
  padding: 0.4rem 0;
}

.navbar .left {
  display: flex;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}
.navbar .right {
  padding-right: 4rem;
}
.navbar button {
  margin: 0 1rem;
  border: none;
  color: #007bff;
  background: none;
}
.navbar button.active {
  background: #0000000f;
}
.navbar button:hover {
  background: #0000000f;
}
.navbar .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  mix-blend-mode: multiply;
}
.navbar .logo a:hover {
  transform: scale(1.06);
  mix-blend-mode: multiply;
}
.navbar .logo-name {
  font-weight: bold;
  font-size: 1.65rem;
}

@media screen and (max-width: 750px) {
  .navbar .right {
    padding-right: 1rem;
  }
  .navbar button {
    margin: 0 0.25rem;
  }
  .navbar .left {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .navbar .logo-name {
    font-size: 1.25rem;
  }
  .navbar .logo a img {
    width: 40px;
    height: 40px;
  }
  .navbar button {
    font-size: 14px;
    margin: 0 0.10rem;
    padding: 0.25rem 0.5rem;
  }
}
@media screen and (max-width: 305px)
{
  .navbar .right {
    position: relative;
    left:15%;
  }
}