.navbar {
  width: 100vw;
  height: 2.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dcdada;
  padding: 0.4rem 0;
}

.navbar .left {
  display: flex;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}
.navbar .right {
  padding-right: 4rem;
}
.navbar button {
  margin: 0 1rem;
  border: none;
  color: #007bff;
  background: none;
}
.navbar button.active {
  background: #0000000f;
}
.navbar button:hover {
  background: #0000000f;
}
.navbar .logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  mix-blend-mode: multiply;
}
.navbar .logo a:hover {
  transform: scale(1.06);
  mix-blend-mode: multiply;
}
.navbar .logo-name {
  font-weight: bold;
  font-size: 1.65rem;
}

